body {
    margin: 0;
  
    background: white;
}

.container {
    width: 900px;
    margin:270px;
   background-image:url(bg.png);
    padding: 40px;
    justify-content: center;
    margin-top: 60px;
    padding-top: 1%;
    
}

h1 {
    color: white;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 30px;
    font-size: 70px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 10px;
   
}

.images img {
    width: 260px;
    height: 160px;
    
    padding: 3px;
    box-shadow: 0 10px 19px rgba(0,0,0,0.5);
    border-radius: 10px;
}


.content {
    display: flex;
}

.texte {
    width: 70%;
    height: 140px;
    background: rgba(255, 255, 255, 0.588);
    padding: 20px;
    font-size: 17px;
    margin-top: 2%;
    
}

.texte a {
    float: right;
    font-style: italic;
    color: black;
    
}


.menu {
    width: 15%;
    margin-left: 10%;
    

}

.menu ul {
    list-style: none;
    padding: 1px;
}

.menu li {
   background-image: url(bg.png);
    padding: 10px;
     box-shadow: 0 2px 7px  rgba(0,0,0,0.3);
    
}
.pied{
    background-color: rgba(83, 81, 81, 0.433);
    width: 100%;
    height: 60px;
   margin-top: 25px;
}
.pied p {
    color: rgba(83, 81, 81, 0.571);
    padding: 18px;
    text-align: center;
}

