h1{
    text-align: center;
}
p{
    text-align: center;
   
}
ul{
    display: flex;
    gap: 80px;
    margin: 30px;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    
}
.liste1{
    background-color: rgba(8, 176, 232, 0.432);
    padding: 10px;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
 .container{
    width: 370px;
    margin:auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

 }
 h2{
    text-align: center;
    margin-bottom: 20px;

 }
label{
    display: block;
    margin-top: 25px;
    margin-left:10px ;
    margin-right:10px ;
}
input {
width: 90%;
margin-top: 2px;
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px;
margin-left:10px ;
margin-right:10px ;


}

textarea{
    width: 95%;
    margin-left:10px ;
    margin-right:10px ;
}
 button{
    margin-top: 20px;
    width: 97%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: 10px;
}
h6{
    text-align: center;
    margin-bottom: 1px;
}

.error{
    border: 2px solid red;
}
